.body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*
    navbar
*/
@media (min-width: 768px) {
    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: block;
        text-align: center;
    }

        .navbar-nav > li {
            display: inline-block;
            float: none;
        }
}

/*
    google maps
*/

#map {
    height: 400px;
    width: 100%;
}
