@model IEnumerable<Neptun.Models.News>

@{
    ViewBag.Title = "Новости ТД Нептун";
}

@section metatags
{
    <meta name="keywords" content="Новости, Что нового" />
    <meta name="description" content='Что нового в торговом доме Одесского завода "Нептун". Свежие новости, новая продукция и услуги, которые уже доступны у нас.' />
}

<div class="container">

    <h2 class="display-4 mt-5">Новости</h2>

    @foreach (var item in Model)
    {
        <hr>
        <div class="col-md-12">
            <h2>@item.Title</h2>
            <p>@item.Description</p>
            <div>
                <span class="badge">@Html.DisplayFor(modelItem => item.Date)</span>
            </div>
        </div>
    }
</div>
