@model IEnumerable<Neptun.Models.News>

@{
    ViewBag.Title = "Index";
}

<div class="container">

    <h2 class="display-4 mt-5">Новости</h2>

    @foreach (var item in Model)
    {
        <hr>
        <div class="col-md-12">
            <h2>@item.Title</h2>
            <p>@item.Description</p>
            <div>
                <span class="badge">@Html.DisplayFor(modelItem => item.Date)</span>
            </div>
        </div>
    }
</div>
