
@{
    ViewBag.Title = "Шкафы ШРЗиА , ШОН, шкафы наружной установки , щитки этажные";
}

@section metatags
{
    <meta name="keywords" content="ШРЗиА, шкаф учета, ВРУ, ящики вводно-учетные, шкафы распределительные, ЩО, ЯВУ, ШНВА, ШОН" />
    <meta name="description" content="Мы предлагаем комплекс аппаратуры, позволяющей без особых затрат выполнить 
          модернизацию подстанций с переводом средств РЗА на современную базу.
          Модернизация существующего оборудования может выполняться на базе оборудования установленного 
          в шкафы со степенью защиты и перечнем комплектации, определяемой заказчиком." />
}

<style>
    h5 {
        display: list-item;
        list-style-type: disc;
        list-style-position: inside;
    }
</style>
<div class="container mt-5">
    <h2 class="text-center mb-5">Шкафы ШРЗиА , ШОН, шкафы наружной установки , щитки этажные</h2>
    <div class="row mb-1">
        <div class="col-lg-3 d-none d-lg-block">
            <img class="embed-responsive pb-5" src="/Pictures/Cabinets/1.jpg">
            <img class="embed-responsive pb-5" src="/Pictures/Cabinets/2.jpg">
            <img class="embed-responsive pb-5" src="/Pictures/Cabinets/3.jpg">
            <img class="embed-responsive pb-5" src="/Pictures/Cabinets/4.jpg">
            <img class="embed-responsive pb-5" src="/Pictures/Cabinets/5.jpg">
            <img class="embed-responsive pb-5" src="/Pictures/Cabinets/6.jpg">
            <img class="embed-responsive pb-5" src="/Pictures/Cabinets/7.jpg">
        </div>
        <article class="col-lg-9">
            <h3 class="pb-3">Предлагаем к поставке следующую продукцию:</h3>
            <h5>Шкафы релейной защиты и автоматики (ШРЗиА)</h5>
            <p>
                На базе микропроцессорных устройства фирм AREVA, ABB, Siemens, General Electric (и т.д. по желанию
                заказчика) предназначены для быстрой и селективной защиты от коротких замыканий в трансформаторах,
                электродвигателях и генераторах, а также других объектов, подключаемых к энергосистеме с двух
                сторон.
            </p>
            <h5>Низковольтные комплектные устройств общего применения</h5>
            <p>РТЗО-88, ВРУ, ЩО, ЯВУ, ЩКН, ПР11, ЩС, ЯЗН, ЯЗВ, ШНВА</p>
            <h5>Шкаф учета электроэнергии типа ШУУ-1-УХЛ 1</h5>
            <p>
                Предназначен для создания автоматизированных систем коммерческого учета электроэнергии (АСКУЭ).
                Предусмотрена возможность эксплуатации в районах с холодным климатом.
            </p>
            <h5>Блоки резервного питания(БРП)</h5>
            <p>
                Предназначены для резервного питания счетчиков в шкафах учета электроэнергии. Предусмотрено питание
                до
                12-ти счетчиков размещенных в шкафу учета.
            </p>
            <h5>НКУ ЩО 07</h5>
            <p>
                Предназначены для приёма и распределения электрической энергии трёхфазного тока частотой 50 Гц
                номинальным напряжением до 0,66 кВ. и защиты отходящих линий от перегрузки и токов короткого замыкания.

            </p>
            <h5>ВРУ (Вводно-распределительные устройства)</h5>
            <p>
                Предназначены для приёма, распределения и учёта электроэнергии в сетях 380/220В трёхфазного переменного
                тока частоты 50 Гц, а также для защиты линий при перегрузках и коротких замыканиях.
            </p>
            <h5>Ящики вводно-учётные типа ЯВУ</h5>
            <p>
                Предназначены для приёма учёта активной электроэнергии напряжением 380 В трёхфазного переменного тока
                частотой
                50 Гц систем с глухо-заземлённой нейтралью, а также для защиты отходящих линий при перегрузках и токах
                короткого
                замыкания
            </p>
            <h5>Шкафы распределительные силовые СПА–77</h5>
            <p>
                Предназначены для распределения электрической энергии трёхфазного переменного тока частотой 50 Гц и
                применяются
                в электроустановках промышленных предприятий. Шкафы СПА–77 предназначены для установки в электрощитовых
                помещениях.
            </p>
            <h5>Устройства автоматического переключения питания на резерв типа АВР</h5>
            <p>
                Предназначены для восстановления питания потребителей путём автоматического включения резервного
                источника
                питания при отключении рабочего источника питания, приводящего к обесточиванию электроустановок
                потребителя
                напряжением до 660В, переменного тока частотой 50Гц или 60Гц, а также предусматривается для
                автоматического
                включения резервного оборудования при отключении рабочего оборудования, приводящем к нарушению
                нормального
                технологического процесса.
            </p>
            <h5>Вводно-распределительные устройства типа ВРУ – М</h5>
            <p>
                Предназначены для приёма, распределения и учёта электроэнергии в сетях 380/220В трёхфазного переменного
                тока
                частоты 50 Гц, в сетях с глухозаземлённой нейтралью, также для защиты линий при перегрузках и коротких
                замыканиях для нечастых оперативных включений и отключений. ВРУ - М используется для электроснабжения
                потребителей по однолучевой схеме с единовременной нагрузкой не более 160 кВА.
            </p>

            <h5>Пункты распределительные серии ПР11</h5>
            <p>
                Предназначены для приёма и распределения электрической энергии, защиты электрических установок
                напряжением
                380/220 В переменного тока частотой 50 Гц при перегрузках и коротких замыканиях, а также нечастых (не
                более 6
                раз в час) включений и отключений электрических цепей и пусков асинхронных электродвигателей.
            </p>
            <h5>Шкафы распределительные силовые СПА–77</h5>
            <p>
                Предназначены для распределения электрической энергии трёхфазного переменного тока частотой 50 Гц и
                применяются в электроустановках промышленных предприятий. Шкафы СПА–77 предназначены для установки в
                электрощитовых помещениях.

            </p>
            <h5>Устройства автоматического переключения питания на резерв типа АВР</h5>
            <p>
                Предназначены для восстановления питания потребителей путём автоматического включения резервного
                источника питания при отключении рабочего источника питания, приводящего к обесточиванию
                электроустановок потребителя напряжением до 660В, переменного тока частотой 50Гц или 60Гц, а также
                предусматривается для автоматического включения резервного оборудования при отключении рабочего
                оборудования, приводящем к нарушению нормального технологического процесса.
            </p>
            <h5>Щитки этажные серии ЩС</h5>
            <p>
                Предназначены для учёта и распределения электрической энергии однофазного переменного тока напряжением
                220 В частотой 50 Гц и трёхфазного переменного тока напряжением 380/220 В частотой 50 Гц, а также для
                защиты групповых квартирных линий от перегрузки, токов короткого замыкания и недопустимых токов утечки
                на землю.
            </p>
            <h5>Шкафы отбора напряжения ШОН серии 300</h5>
            <p>Предназначены для:</p>
            <ul>
                <li>
                    ШОН-301С - для отбора напряжения от конденсаторов связи СМР-110/√3-6,и
                    СМР-166/√3-14 для линии электропередачи на 220, 330 и 500 кВ;
                </li>
                <li>
                    ШОН-302С - для отбора напряжения от конденсаторов связи СМР-66/√3-4,4 для линии электропередачи 110,
                    150, 220 кВ, с конденсаторами связи СМР-110/√3-2,2 для линии электропередачи 110, 220 кВ;
                </li>
                <li>
                    ШОН-303П - для отбора напряжения от конденсаторов связи СМР-20/√3-107 для линии электропередачи 35
                    кВ, с конденсаторами связи СМР-110/√3-6,4 для линии электропередачи 110, 220, 330 кВ, с
                    конденсаторами связи СМР-20/√3-35 для линии электропередачи 35, 110, 150 кВ;
                </li>
                <li>
                    ШОН-304П - для отбора напряжения от конденсаторов связи СМП-110/√3-6,4 для линии электропередачи
                    на 110, 150, и 220 кВ и конденсаторами связи СММ-20/√3-35 для линии электропередачи 35 кВ;
                </li>
                <li>
                    ШОН-305П - для отбора напряжения от конденсаторов связи СМП-110/√3-6,4 для линии электропередачи на
                    110, 150, и 220 кВ и конденсаторами связи СММ-20/√3-35 для линии электропередачи 35 кВ;
                </li>
            </ul>
            <input type="button" class="btn btn-info" onClick="window.open('@Url.Action("DisplayPdfFromFile", "Productions", new {path = "/App_Data/Pdf/Catalog.pdf"})', target = '_blank')" value="Смотреть каталог" />
        </article>
    </div>
</div>
