
@{
    ViewBag.Title = "Нептун | Продукция | Очистные сооружения";
}

@section metatags
{
    <meta name="keywords" content="Очистные сооружения, биологическая очистка, марка NV, выпуск очищенных сточных вод в грунт, при низком уровне грунтовых вод" />
    <meta name="description" content="Принцип работы очистной установки марки NV основан на применении технологии биологической
          очистки с использованием активного ила (аэробных микроорганизмов), работающего во всём объёме очищаемой воды и
          на погружной биозагрузке при интенсивной аэрации. Активный ил поглощает загрязняющие вещества и использует их как источник питания и энергии." />
}

@section links
{
    <link rel="canonical" href="http://neptun-odessa.com/Productions/TreatmentFacilities" />
}

<style>
    #tf-doc {
        display: flex;
        justify-content: flex-end;
    }
</style>

<div class="container mt-4">
    <div  id="tf-doc">
        <input type="button" class="btn btn-info m-2" onClick="window.open('/Pdf/TreatmentFacilitiesDoc.pdf','_blank')" value="Коммерческое предложение" />
    </div>
    <h2 class="text-center text-color-blue d-block">Очистные сооружения биологической очистки марки NV</h2>
    <h4 class="blue-title">Назначение</h4>
    <h6>Установки NV предназначены для отведения и очистки бытовых и хозяйственных сточных вод от:</h6>
    <ul>
        <li>частных домов, коттеджей, небольших административных зданий</li>
        <li>магазинов, столовых, кафе</li>
        <li>оздоровительных учреждений</li>
        <li>сельских школ</li>
    </ul>
    <p>а также для многих других объектов, для которых локальные очистные установки являются единственным решением по водоотведению.</p>
    <h4 class="blue-title">Принцип работы установки</h4>
    <div class="float-md-left mr-2">
        <img class="embed-responsive" alt="" src="/Pictures/TreatmentFacilities/treatmant-2.jpg"/>
    </div>
    <p>
        Принцип работы очистной установки марки NV основан на применении технологии биологической очистки с использованием активного ила (аэробных микроорганизмов), работающего во всём объёме очищаемой воды и на погружной биозагрузке при интенсивной аэрации. Активный ил поглощает загрязняющие вещества и использует их как источник питания и энергии.
    </p>
    <p>
        Корпус сооружения состоит из двух рабочих камер: аэрационной (1) и зоны отстаивания (2). В центр аэрационной камеры осуществляется подача воздуха от компрессора при помощи воздуховода (3) и тарельчатого диффузора (4).
    </p>
    <p>
        Активный ил, постоянно образующийся в процессе очистки, перемешивается с поступающими стоками в аэрационной камере (1). Пузырьки воздуха, поднимающиеся вверх, увлекают за собой воду и оседающие хлопья активного ила, одновременно насыщая воду кислородом и интенсивно перемешивая.
    </p>
    <p>
        Все необходимые микроорганизмы содержатся в поступающих стоках и в воздухе, <span class="font-weight-bold">поэтому в установку дополнительно ничего не заливается и не засыпается.</span>
    </p>
    <p>
        С поступлением новых порций сточных вод в установку равный объём воды из аэрационной камеры (1) вытесняется в зону отстаивания (внешнюю камеру) (2), одновременно уже осветлённая во внешней камере вода (из верхней части установки) сбрасывается по выходной трубе.
    </p>
    <p>
        Конструкция установки создаёт наиболее оптимальную среду для размножения аэробных микроорганизмов (на биозагрузке - 5). Активный ил – стабильная и самоорганизующаяся система, устойчивая к внешним воздействиям.
    </p>
    <p>
        Воздух в установку подаётся при помощи воздуходувки, которая устанавливается в помещении или в специальном защитном ящике рядом с оборудованием (на улице). Конструкция установки гарантирует эффективное перемешивание и насыщение очищаемых стоков воздухом, а значит – высокое качество очистки сточных вод.
    </p>
    <h5>Варианты отведения очищенных сточных вод</h5>
    <p>
        В зависимости от местных условий сточные воды после биологической очистки могут дочищаться, обеззараживаться и отводиться в водоем или поступать в поглощающий их грунт.
    </p>
    <h4 class="blue-title">Выпуск очищенных сточных вод в грунт при низком уровне грунтовых вод (ниже 3 м) </h4>
    <div class="float-md-left mr-2 col-md-4">
        <img class="embed-responsive" alt="" src="/Pictures/TreatmentFacilities/treatmant-1.jpg"/>
    </div>
    <p>
        <span class="font-weight-bold">Фильтрационные колодцы</span> устраиваются в случае, когда стоки утилизируются в песчаный или супесчаный грунт, а иногда и на суглинистых грунтах. Фильтрационные колодцы изготавливаются из стеклопластика (UAB «Traidenis») или из бетона.
    </p>
    <p>
        ПВХ труба, выходящая из установки биологической очистки, укладывается с уклоном 2…3 см на метр длины. Расстояние между установкой и колодцем, а также глубина заложения колодца зависят от конкретной ситуации (размеров и формы участка, расположения объектов на участке, особенностей местности и т.д.). Количество фильтрационных колодцев зависит от объёма сбрасываемой воды, исходя из условия, что один колодец диаметром 1,5 м рассчитан на фильтрацию и утилизацию в грунт 1,4 м3 воды в сутки. Фильтрационный колодец наполняется следующими фильтрующими материалами (сверху вниз): георешётка щебень, песок. Толщина фильтрующего слоя – не менее 1 метра (см. схему).
    </p>

    <h4 class="blue-title">Эксплуатация, обслуживание </h4>
    <p>
        Система NV спроектирована таким образом, чтобы свести к минимуму её обслуживание и любые проблемы, связанные с этим. В установке отсутствуют движущиеся и электрические детали, поэтому вероятность поломки – минимальна. Эксплуатация заключается в периодической проверке работы воздуходувки, концентрации активного ила в аэрационной камере реактора и удалении его избытка согласно инструкции.
    </p>
    <p>
        Состояние оборудования необходимо проверять не реже одного раза в полгода (если оно используется для очистки бытовых сточных вод одной семьи). Если очищаются сточные воды административного здания или других учреждений, осмотр должен проводиться чаще. Люк установки должен быть надежно закрыт.
    </p>
    <p>
        Необходимо регулярно откачивать 2/3 объёма установки: избыточный ил и осадок, который накапливается в конусной части установки. Очистное оборудование, обслуживающее одну семью (3-5 человек), необходимо чистить 1 раз в 2 года, оборудование, обслуживающее административное здание, кафе, чистится чаще.
    </p>
    <h6>При эксплуатации очистной установки необходимо следить, чтобы туда не попали: </h6>
    <ol>
        <li>бионеразлагаемые материалы: бумажные полотенца, памперсы, носовые платки, резиновые и пластмассовые изделия и т. д.</li>
        <li>большое количество жиров</li>
        <li>бытовая химия высоких концентраций. Разрешается использовать бытовую химию, чистящие и моющие средства в дозировках, указанных производителем на этикетке</li>
        <li>поверхностные, дождевые сточные воды (с крыш, со двора и пр.)</li>
        <li>любые сточные воды, не относящиеся к хозяйственно-бытовым (нефтепродукты, сельскохозяйственные стоки и пр.) </li>
        <li>грунтовые воды (установка должна быть гидроизолирована)</li>
        <li><span class="font-weight-bold" style="color: red">ВНИМАНИЕ: запрещён слив в установку промывных вод от фильтров водоподготовки и смягчения воды, воды из бассейнов!</span></li>
    </ol>
    <div class="cooperation-container">
        <section class="cooperation">
            <a href="/Company#feedback">
                <img src="/Pictures/Cooperation.png" alt="Торговый дом Нептун">
                <article>
                    <p>
                        Задайте интересующие вопросы и в ближайшее время мы свяжемся с вами.
                    </p>
                </article>
            </a>
        </section>
    </div>
</div>
